.mediaViewInfo {
	--web-view-name: Ndaru Dienul YS;
	--web-view-id: Ndaru_Dienul_YS;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Ndaru_Dienul_YS;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Ndaru_Dienul_YS {
	position: absolute;
	width: 1366px;
	height: 3419px;
	background-color: rgba(253,253,253,1);
	overflow: hidden;
	--web-view-name: Ndaru Dienul YS;
	--web-view-id: Ndaru_Dienul_YS;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_1 {
	fill: rgba(14,20,67,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#Rectangle_4 {
	fill: rgba(14,20,67,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 1051px;
	left: 0px;
	top: 96px;
}
#ppek {
	position: absolute;
	width: 1366px;
	height: 768px;
	left: 0px;
	top: 99px;
	overflow: visible;
}
#Rectangle_3 {
	opacity: 0.67;
	fill: rgba(14,20,67,1);
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 848px;
	left: 0px;
	top: 0px;
}
#WhatsApp_Image_2021-03-03_at_1 {
	position: absolute;
	width: 644px;
	height: 860px;
	left: 371px;
	top: -65px;
	overflow: visible;
}
#Ndaru_Dienul_Yoga_Sworo {
	left: 414px;
	top: 532px;
	position: absolute;
	overflow: visible;
	width: 539px;
	white-space: nowrap;
	text-align: left;
	font-family: League Spartan;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(253,253,253,1);
}
#Mahasiswa__Front_End_Web_Devel {
	opacity: 0.78;
	left: 466px;
	top: 602px;
	position: absolute;
	overflow: visible;
	width: 436px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(191,191,191,1);
}
#Rectangle_2 {
	fill: rgba(14,20,67,1);
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 2643px;
	left: 0px;
	top: 776px;
}
#Group_1 {
	position: absolute;
	width: 1047px;
	height: 193px;
	left: 160px;
	top: 848px;
	overflow: visible;
}
#About_Me {
	left: 447px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: left;
	font-family: League Spartan;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Line_1 {
	fill: transparent;
	stroke: rgba(151,150,150,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 121px;
	height: 1px;
	left: 474.5px;
	top: 64px;
	transform: matrix(1,0,0,1,0,0);
}
#Nama_saya_adalah_Ndaru_19_tahu {
	opacity: 0.78;
	left: 0px;
	top: 107px;
	position: absolute;
	overflow: visible;
	width: 1048px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_21 {
	position: absolute;
	width: 1051px;
	height: 555px;
	left: 139px;
	top: 1155px;
	overflow: visible;
}
#aboutme {
	opacity: 0.42;
	position: absolute;
	width: 442px;
	height: 416px;
	left: 0px;
	top: 44px;
	overflow: visible;
}
#What_is_Front_End_Web_Develope {
	left: 231px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 626px;
	white-space: nowrap;
	text-align: center;
	font-family: League Spartan;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Line_1_w {
	fill: transparent;
	stroke: rgba(151,150,150,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1_w {
	overflow: visible;
	position: absolute;
	width: 121px;
	height: 1px;
	left: 495.5px;
	top: 56px;
	transform: matrix(1,0,0,1,0,0);
}
#Web_developer_adalah_seorang_p {
	opacity: 0.78;
	left: 38px;
	top: 108px;
	position: absolute;
	overflow: visible;
	width: 1014px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Group_2 {
	position: absolute;
	width: 574px;
	height: 64px;
	left: 377px;
	top: 1973px;
	overflow: visible;
}
#Education_and_Work_Experience {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 575px;
	white-space: nowrap;
	text-align: center;
	font-family: League Spartan;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Line_1_ {
	fill: transparent;
	stroke: rgba(151,150,150,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1_ {
	overflow: visible;
	position: absolute;
	width: 121px;
	height: 1px;
	left: 226.5px;
	top: 64px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_19 {
	position: absolute;
	width: 121px;
	height: 64px;
	left: 625px;
	top: 2628px;
	overflow: visible;
}
#Skills {
	left: 13.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: center;
	font-family: League Spartan;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Line_1_ba {
	fill: transparent;
	stroke: rgba(151,150,150,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1_ba {
	overflow: visible;
	position: absolute;
	width: 121px;
	height: 1px;
	left: 0px;
	top: 64px;
	transform: matrix(1,0,0,1,0,0);
}
#png-transparent-computer-icons {
	opacity: 0.77;
	position: absolute;
	width: 35.944px;
	height: 64.594px;
	left: 1125px;
	top: 1819.406px;
	overflow: visible;
}
#png-transparent-computer-icons_ {
	opacity: 0.77;
	position: absolute;
	width: 35.944px;
	height: 64.594px;
	left: 1125.056px;
	top: 2426px;
	overflow: visible;
}
#Group_8 {
	position: absolute;
	width: 279px;
	height: 43px;
	left: 329px;
	top: 2170px;
	overflow: visible;
}
#ID2007_-_2013 {
	opacity: 0.78;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#ID2013_-_2016 {
	opacity: 0.78;
	left: 183px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#SDN_Gunung_Putri_1 {
	opacity: 0.78;
	left: 0px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Group_14 {
	position: absolute;
	width: 206px;
	height: 57px;
	left: 329px;
	top: 2348px;
	overflow: visible;
}
#ID2017_-_2018 {
	opacity: 0.78;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Internship_At_PERUM_PERURI__Pe {
	opacity: 0.78;
	left: 0px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 207px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Group_9 {
	position: absolute;
	width: 112px;
	height: 14px;
	left: 512px;
	top: 2199px;
	overflow: visible;
}
#SMP_Smart_Cibinong {
	opacity: 0.78;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Group_10 {
	position: absolute;
	width: 119px;
	height: 43px;
	left: 705px;
	top: 2169px;
	overflow: visible;
}
#ID2016-2019 {
	opacity: 0.78;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#SMKN_1_Gunung_Putri {
	opacity: 0.78;
	left: 0px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Group_11 {
	position: absolute;
	width: 682px;
	height: 257px;
	left: 329px;
	top: 2169px;
	overflow: visible;
}
#ID2019-Now {
	opacity: 0.78;
	left: 556px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Universitas_Gunadarma {
	opacity: 0.78;
	left: 556px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Teknik_Informatika {
	opacity: 0.78;
	left: 556px;
	top: 52px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(138,137,137,1);
}
#Teknik_Elektronika_Industri {
	opacity: 0.78;
	left: 376px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(138,137,137,1);
}
#Pemeliharaan_AC {
	opacity: 0.78;
	left: 0px;
	top: 248px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(138,137,137,1);
}
#EduWork {
	opacity: 0.75;
	left: 1165px;
	top: 1844.703px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(152,147,147,1);
}
#Skills_bp {
	opacity: 0.75;
	left: 1164px;
	top: 2451.297px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(152,147,147,1);
}
#Rectangle_5 {
	fill: rgba(255,255,255,1);
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 561px;
	height: 3px;
	left: 367px;
	top: 2122px;
}
#Rectangle_6 {
	fill: rgba(255,255,255,1);
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 3px;
	left: 346px;
	top: 2297px;
}
#Group_3 {
	position: absolute;
	width: 76px;
	height: 74px;
	left: 329px;
	top: 2086px;
	overflow: visible;
}
#Ellipse_1 {
	opacity: 0.5;
	fill: rgba(110,124,251,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 76px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Ellipse_2 {
	fill: rgba(110,124,251,1);
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 63px;
	height: 60px;
	left: 7px;
	top: 7px;
}
#Group_13 {
	position: absolute;
	width: 76px;
	height: 74px;
	left: 329px;
	top: 2258px;
	overflow: visible;
}
#Ellipse_1_bw {
	opacity: 0.5;
	fill: rgba(110,124,251,1);
}
.Ellipse_1_bw {
	position: absolute;
	overflow: visible;
	width: 76px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_bx {
	fill: rgba(110,124,251,1);
}
.Ellipse_2_bx {
	position: absolute;
	overflow: visible;
	width: 63px;
	height: 60px;
	left: 7px;
	top: 7px;
}
#Group_4 {
	position: absolute;
	width: 76px;
	height: 74px;
	left: 512px;
	top: 2088px;
	overflow: visible;
}
#Ellipse_1_bz {
	opacity: 0.5;
	fill: rgba(110,124,251,1);
}
.Ellipse_1_bz {
	position: absolute;
	overflow: visible;
	width: 76px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_b {
	fill: rgba(110,124,251,1);
}
.Ellipse_2_b {
	position: absolute;
	overflow: visible;
	width: 63px;
	height: 60px;
	left: 7px;
	top: 7px;
}
#Group_5 {
	position: absolute;
	width: 76px;
	height: 74px;
	left: 702px;
	top: 2085px;
	overflow: visible;
}
#Ellipse_1_b {
	opacity: 0.5;
	fill: rgba(110,124,251,1);
}
.Ellipse_1_b {
	position: absolute;
	overflow: visible;
	width: 76px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_ca {
	fill: rgba(110,124,251,1);
}
.Ellipse_2_ca {
	position: absolute;
	overflow: visible;
	width: 63px;
	height: 60px;
	left: 7px;
	top: 7px;
}
#Group_6 {
	position: absolute;
	width: 76px;
	height: 74px;
	left: 885px;
	top: 2085px;
	overflow: visible;
}
#Ellipse_1_ca {
	opacity: 0.5;
	fill: rgba(110,124,251,1);
}
.Ellipse_1_ca {
	position: absolute;
	overflow: visible;
	width: 76px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_cb {
	fill: rgba(110,124,251,1);
}
.Ellipse_2_cb {
	position: absolute;
	overflow: visible;
	width: 63px;
	height: 60px;
	left: 7px;
	top: 7px;
}
#Group_15 {
	position: absolute;
	width: 262px;
	height: 51px;
	left: 323px;
	top: 2733px;
	overflow: visible;
}
#Polygon_1 {
	fill: rgba(110,124,251,1);
}
.Polygon_1 {
	overflow: visible;
	position: absolute;
	width: 44px;
	height: 40px;
	transform: translate(-150px, -2005px) matrix(1,0,0,1,157,2008) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_2 {
	opacity: 0.5;
	fill: rgba(110,124,251,1);
}
.Polygon_2 {
	overflow: visible;
	position: absolute;
	width: 58px;
	height: 51px;
	transform: translate(-150px, -2005px) matrix(1,0,0,1,150,2005) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Adobe_XD {
	opacity: 0.78;
	left: 81px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Ellipse_3 {
	fill: rgba(255,213,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 197px;
	top: 21px;
}
#Ellipse_4 {
	fill: rgba(255,213,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 211px;
	top: 21px;
}
#Ellipse_5 {
	fill: rgba(255,213,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 225px;
	top: 21px;
}
#Ellipse_6 {
	fill: rgba(255,213,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 239px;
	top: 21px;
}
#Ellipse_7 {
	fill: rgba(109,108,106,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_7 {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 253px;
	top: 21px;
}
#Group_16 {
	position: absolute;
	width: 262px;
	height: 51px;
	left: 323px;
	top: 2834px;
	overflow: visible;
}
#Polygon_1_ch {
	fill: rgba(110,124,251,1);
}
.Polygon_1_ch {
	overflow: visible;
	position: absolute;
	width: 44px;
	height: 40px;
	transform: translate(-150px, -2005px) matrix(1,0,0,1,157,2008) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_2_ci {
	opacity: 0.5;
	fill: rgba(110,124,251,1);
}
.Polygon_2_ci {
	overflow: visible;
	position: absolute;
	width: 58px;
	height: 51px;
	transform: translate(-150px, -2005px) matrix(1,0,0,1,150,2005) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#HTML {
	opacity: 0.78;
	left: 81px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Ellipse_3_ck {
	fill: rgba(255,213,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3_ck {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 197px;
	top: 21px;
}
#Ellipse_4_cl {
	fill: rgba(255,213,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_cl {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 211px;
	top: 21px;
}
#Ellipse_5_cm {
	fill: rgba(255,213,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_5_cm {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 225px;
	top: 21px;
}
#Ellipse_6_cn {
	fill: rgba(109,108,106,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_6_cn {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 239px;
	top: 21px;
}
#Ellipse_7_co {
	fill: rgba(109,108,106,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_7_co {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 253px;
	top: 21px;
}
#Group_17 {
	position: absolute;
	width: 262px;
	height: 51px;
	left: 323px;
	top: 2935px;
	overflow: visible;
}
#Polygon_1_cq {
	fill: rgba(110,124,251,1);
}
.Polygon_1_cq {
	overflow: visible;
	position: absolute;
	width: 44px;
	height: 40px;
	transform: translate(-150px, -2005px) matrix(1,0,0,1,157,2008) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_2_cr {
	opacity: 0.5;
	fill: rgba(110,124,251,1);
}
.Polygon_2_cr {
	overflow: visible;
	position: absolute;
	width: 58px;
	height: 51px;
	transform: translate(-150px, -2005px) matrix(1,0,0,1,150,2005) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Photoshop {
	opacity: 0.78;
	left: 81px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Ellipse_3_ct {
	fill: rgba(255,213,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3_ct {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 197px;
	top: 21px;
}
#Ellipse_4_cu {
	fill: rgba(255,213,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_cu {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 211px;
	top: 21px;
}
#Ellipse_5_cv {
	fill: rgba(255,213,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_5_cv {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 225px;
	top: 21px;
}
#Ellipse_6_cw {
	fill: rgba(255,213,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_6_cw {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 239px;
	top: 21px;
}
#Ellipse_7_cx {
	fill: rgba(109,108,106,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_7_cx {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 253px;
	top: 21px;
}
#Group_18 {
	position: absolute;
	width: 262px;
	height: 51px;
	left: 323px;
	top: 3036px;
	overflow: visible;
}
#Polygon_1_cz {
	fill: rgba(110,124,251,1);
}
.Polygon_1_cz {
	overflow: visible;
	position: absolute;
	width: 44px;
	height: 40px;
	transform: translate(-150px, -2005px) matrix(1,0,0,1,157,2008) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_2_c {
	opacity: 0.5;
	fill: rgba(110,124,251,1);
}
.Polygon_2_c {
	overflow: visible;
	position: absolute;
	width: 58px;
	height: 51px;
	transform: translate(-150px, -2005px) matrix(1,0,0,1,150,2005) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Java {
	opacity: 0.78;
	left: 81px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Ellipse_3_c {
	fill: rgba(255,213,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3_c {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 197px;
	top: 21px;
}
#Ellipse_4_c {
	fill: rgba(255,213,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_c {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 211px;
	top: 21px;
}
#Ellipse_5_c {
	fill: rgba(255,213,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_5_c {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 225px;
	top: 21px;
}
#Ellipse_6_c {
	fill: rgba(109,108,106,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_6_c {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 239px;
	top: 21px;
}
#Ellipse_7_c {
	fill: rgba(109,108,106,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_7_c {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 253px;
	top: 21px;
}
#Component_2__1 {
	position: absolute;
	width: 86px;
	height: 49px;
	left: 1141px;
	top: 26px;
	overflow: visible;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Light.html;
	cursor: pointer;
}
#Rectangle_7 {
	fill: rgba(44,68,110,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 86px;
	height: 49px;
	left: 0px;
	top: 0px;
}
#Ellipse_8 {
	fill: rgba(255,179,0,1);
}
.Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 39px;
	left: 4px;
	top: 5px;
}